[MASTER]
ignore=venv,.venv,__pycache__

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_

[REPORTS]
reports=no

[DESIGN]
max-args=8
max-attributes=10
max-branches=12
max-locals=20
max-statements=50
